<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>

<body>
    <div class="container">
        <hr />
        <h2 style="color:orangered"><b>Categorias </b></h2>
        <br />
        <a class="btn btn-danger" href="/admin/categories/new">Create a new category</a>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <td>id </td>
                    <td>title </td>
                    <td>slug</td>
                    <td>actions</td>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>
                <tr>
                    <td><%= category.id %></td>
                    <td><%= category.title %></td>
                    <td><%= category.slug %></td>
                    <td>
                        <a href="/admin/categories/edit/<%=category.id%>" class="btn btn-warning" > Edit</a>
                        <form method="post" style="display:inline;" action="/categories/delete" onsubmit="aviso(event,this)">
                            <input type="hidden" name="id" value="<%= category.id %>" />
                            <button class="btn btn-dark bg-dark">Delet</button>
                        </form>
                    </td>
                </tr>
                <%})%>
            </tbody>
        </table>
    </div>

</body>
<script>
    function aviso(event, form) {
        event.preventDefault();
        var decision = confirm("Do you really want to delete?");
        if (decision) {
            form.submit();
        }
    }
</script>

<%- include ('../../partials/footer.ejs'); %>
